<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add product</h2>
                <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" name="Name" class="form-control">

                        <label for="">category</label>
                        <input type="text" name="Category" class="form-control">

                        <label for="">Price</label>
                        <input type="text" name="Price" class="form-control">

                        <label for="">Descripton</label>
                        <input type="text" name="Description" class="form-control">

                        <label for="">image</label>
                        <input type="file" name="image" class="form-control">

                        

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    
</script>