<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Welcome admin,click the button to go admin dashboard</h1>
                <a href="/admin" class="btn btn-primary">Admin dashboard</a>
            </div>
        </div>
    </div>
</section>