<section>
    <div class="container mt-5">
        <div class="row">
            {{#each product}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height: 25rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); border-radius: 10px; background-color: #2c3e50;">
                    <img class="card-img-top" src="/product-images/{{this.product._id}}.jpg" alt="Card image cap" style="height: 13rem; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold; color: #ecf0f1;">{{this.product.Name}}</h5>
                        <p class="card-price" style="color: white; font-size: 1.2rem;">Rs.{{this.product.Price}}</p>
                        <p style="color: #bdc3c7;">Quantity: {{this.quantity}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
